extends layout

mixin searchField(parameter)
  - let fieldId = parameter + "Search";
  - let shownLabel = parameter.toUpperCase();
  div(class="five wide inline field")
      label(for=fieldId)=shownLabel
      input(id=fieldId name=parameter class="thirteen wide field" type="text")
      

block pane
  div(class="ui raised segment container" id="pane")
    h1(class="ui center aligned header")="Spotifind"
    form(class="ui form" onSubmit="formHandler(); return false;")
      div(class="fields")
        +searchField("artist")
        +searchField("area")
        div(class="five wide inline field")
          label(for="fromDate")='DATES'
          input(id="fromDate" type="text" class="six wide field")
          input(id="toDate" type="text" class="six wide field")
        div(class="one wide field")
            button(class="ui primary button" id="submitBtn" type="submit")="SEARCH"

block main
  div(class="ui grid" id="main")
    div(id="map" class="twelve wide column")
    div(class="ui list four wide column" id="sidebar")
      h2="Live music event finder"
      h3="How to use this service:"
      ol
        li="Enter either an artist, area, or both to specify what you wish to filter events by, in the form above."
        li="Select specific artists and/or areas from the search dialog box that appears. Set an artist to discover mode to include similar artists in the event search"
        li="The map and sidebar will populate with the location and information of the events found!"

block search
  div(id="overlay")
    div(id="searchContainer" class='ui raised container segment')
      h2(class="ui left floated header")="Search results:"
      button(id="closeBtn" class="circular ui right floated icon red button")
        i(class="close icon")
      div(id="subSearchContainer")
      button(id="findEventsBtn" class="ui primary button")="Find Events"
