extends layout

mixin searchField(parameter)
  - let fieldId = parameter + "Search";
  - let shownLabel = parameter.toUpperCase();
  div(class="five wide inline field")
      label(for=fieldId)=shownLabel
      input(id=fieldId name=parameter class="thirteen wide field" type="text")
      

block pane
  div(class="ui raised segment container" id="pane")
    h1(class="ui center aligned header")="Spotifind"
    form(class="ui form" onSubmit="formHandler(); return false;")
      div(class="fields")
        +searchField("artist")
        +searchField("area")
        div(class="five wide inline field")
          label(for="fromDate")='DATES'
          input(id="fromDate" type="text" class="seven wide field")
          input(id="toDate" type="text" class="seven wide field")
        div(class="one wide field")
            input(class="ui button" type="submit", value="Search!")

block main
  div(class="ui grid" id="main")
    div(id="map" class="twelve wide column")
    div(class="ui list four wide column" id="sidebar")