doctype html
html
  head
    title="Spotifind"

    //References to leaflet.js style and script
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="")
    script(src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin="")

    //References to semantic-ui
    link(rel="stylesheet", href="/dist/semantic.min.css")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="/dist/semantic.min.js")

    //References to local styles and scripts
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/mapUpdates.js")
    script(src="/javascripts/formHandler.js")
    script(src="/javascripts/dateFieldSetup.js")

  body
    block pane
    block main
